body {
  margin: 0;
  padding: 0;
  background-color: rgb(186, 189, 193);
  width: 72%;
  margin: 0 auto;
  font-weight: bold;
}

/* fonts */

h1, h2 {
  font-family: 'Cinzel';
  color: rgb(54, 45, 45);
}

p, li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color:  rgb(54, 45, 45);
}

h1 {
  font-size: 55px;
  text-align: center;
}

h2 {
  font-size: 37px;
  text-align: center;
}


/* header */

header {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

main, header, article, aside, footer {
  background-color: rgba(69, 199, 78, 0.888);
  padding: 1%;
}

nav, article, aside, article p, h2{
  background-color: rgb(40, 225, 23);
}

h1 {
  flex: 1;
}

.icon {
  height: 70px;
  padding-top: 20px;
}

nav {
  display: flex; 
  height: 60px;
  flex: 100%;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex: 100%;
  list-style-type: none;
  justify-content: space-evenly; 
}

nav a, nav span {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(41, 37, 37);
} 

/* main */

main {
  display: flex;
}

article {
  flex: 1.8;
}

aside {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 15px;
}

h2{
  flex: 100%;
}

aside img {
  margin-bottom: 7px;
  height: 150px;
}

footer {
  margin-top: 10px;
}